// Global styles
@import 'normalize';

body {
  font-family: 'Bree Serif', fira-sans-2, 'Helvetica', 'Arial', 'sans-serif';
  max-width: 100vw;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
